header, aside{
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }
    }
}

li{
    list-style: none;
    line-height: 30px;

}

.wrapper{
    height: calc(100vh - 95px);

}

aside{
    width: 200px;
    height: 100%;
}

.content{
    overflow: auto;
    width: 100%;
}
